<app-header></app-header>
<div>
  <mat-divider></mat-divider>
  <nav mat-tab-nav-bar backgroundColor="accent" [tabPanel]="tabPanel">
    <a mat-tab-link  [routerLink]="['/login']"> Login</a>
    <a mat-tab-link  [routerLink]="['/spotify']"> Importar canciones</a>
    <a mat-tab-link  [routerLink]="['/library']"> Biblioteca</a>
    <a mat-tab-link  [routerLink]="['/logout']"> Salir <mat-icon>logout</mat-icon></a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
